{include file=head.html}
{include file=banner.html}

<div class="about">
    <div class="container clearfix">
        {include file=left.html}
        <div class="inner_con inner_contact_con float_r">
            {include file=pos.html}
            <div class="inner_main inner_common clearfix">
                <div class="contact_box">
                    <ul class="contact_title clearfix" id="contact_title">
                        <li class="active"><a href="javascript:;">公司总部</a></li>
                        <li><a href="javascript:;">总部部门</a></li>
                        <li><a href="javascript:;">分公司</a></li>
                        <li><a href="javascript:;">控股公司</a></li>
                    </ul>
                    <div class="contact_con contact_section01 clearfix" style="display: block;">
                        <div id="dituContent" style="width: 410px; height: 448px; border: #eee solid 1px;"
                            class="float_l">
                        </div>
                        <div class="info_con float_l">
                            <h2>{content:title}</h2>
                            {content:content}
                        </div>
                    </div>
                    <div class="contact_con contact_section02 clearfix">
                        <ul class="department_list left_con float_l">
                            {pboot:list scode='46' num='24'} 
                            <li>
                                <h3>
                                    [list:title]
                                </h3>
                                [list:content]
                            </li>
                            {pboot:if([list:i]==12)} 
                        </ul>
                        <ul class="department_list right_con float_r">
                            {/pboot:if}
                            {/pboot:list}
                        </ul>
                    </div>
                    <div class="contact_con">
                        <div class="ditu">

                            <div>
                                <div id="dtr20" class="ditu_dian">
                                </div>
                                <div class="ditu_nr">
                                    <p>
                                    </p>
                                    <h3>
                                        北京市分公司</h3>
                                    <img src='static/picture/20140121040507_309.jpg'
                                        style="width: 180px; height: 107px;margin-left: 106px;margin-top: 184px;" />
                                    <h4>
                                        地 址：北京市朝阳区朝外大街工体南路东2号<br />
                                        邮 编：100020<br />
                                        电 话：010-6553 0318<br />
                                        传 真：010-6552 8808</h4>
                                </div>
                            </div>

                            <div>
                                <div id="dtr21" class="ditu_dian">
                                </div>
                                <div class="ditu_nr">
                                    <p>
                                    </p>
                                    <h3>
                                        天津市分公司</h3>
                                    <img src='static/picture/20140121040642_513.jpg'
                                        style="width: 180px; height: 107px;margin-left: 106px;margin-top: 184px;" />
                                    <h4>
                                        地 址：天津市河西区台儿庄路西侧汇雅商业中心9号楼<br />
                                        邮 编：300202<br />
                                        电 话：022-5829 5915<br />
                                        传 真：022-5829 5965</h4>
                                </div>
                            </div>

                            <div>
                                <div id="dtr19" class="ditu_dian">
                                </div>
                                <div class="ditu_nr">
                                    <p>
                                    </p>
                                    <h3>
                                        河北省分公司</h3>
                                    <img src='static/picture/20140121040704_897.jpg'
                                        style="width: 180px; height: 107px;margin-left: 106px;margin-top: 184px;" />
                                    <h4>
                                        地 址：石家庄市新华区红军大街27号<br />
                                        邮 编：050061<br />
                                        电 话：0311-8706 9993<br />
                                        传 真：0311-8783 8066</h4>
                                </div>
                            </div>

                            <div>
                                <div id="dtr18" class="ditu_dian">
                                </div>
                                <div class="ditu_nr">
                                    <p>
                                    </p>
                                    <h3>
                                        山东省分公司</h3>
                                    <img src='static/picture/20140121040712_231.jpg'
                                        style="width: 180px; height: 107px;margin-left: 106px;margin-top: 184px;" />
                                    <h4>
                                        地 址：济南市经七路168号银河大厦25-28层<br />
                                        邮 编：250001<br />
                                        电 话：0531-8207 9792<br />
                                        传 真：0531-8207 9799</h4>
                                </div>
                            </div>

                            <div>
                                <div id="dtr1" class="ditu_dian">
                                </div>
                                <div class="ditu_nr">
                                    <p>
                                    </p>
                                    <h3>
                                        广西壮族自治区分公司</h3>
                                    <img src='static/picture/20140121040724_409.jpg'
                                        style="width: 180px; height: 107px;margin-left: 106px;margin-top: 184px;" />
                                    <h4>
                                        地 址：南宁市天桃路27号<br />
                                        邮 编：530022<br />
                                        电 话：0771-281 8108<br />
                                        传 真：0771-281 8108</h4>
                                </div>
                            </div>

                            <div>
                                <div id="dtr2" class="ditu_dian">
                                </div>
                                <div class="ditu_nr">
                                    <p>
                                    </p>
                                    <h3>
                                        海南省分公司</h3>
                                    <img src='static/picture/20140121040734_602.jpg'
                                        style="width: 180px; height: 107px;margin-left: 106px;margin-top: 184px;" />
                                    <h4>
                                        地 址：海口市美兰区国兴大道5号楼海南大厦副楼13-14层<br />
                                        邮 编：570203<br />
                                        电 话：0898-3668 6305<br />
                                        传 真：0898-3668 6281</h4>
                                </div>
                            </div>

                            <div>
                                <div id="dtr3" class="ditu_dian">
                                </div>
                                <div class="ditu_nr">
                                    <p>
                                    </p>
                                    <h3>
                                        云南省分公司</h3>
                                    <img src='static/picture/20140121040742_162.jpg'
                                        style="width: 180px; height: 107px;margin-left: 106px;margin-top: 184px;" />
                                    <h4>
                                        地 址：昆明市国家高新技术产业开发区科华路1号山灞大厦19-20层<br />
                                        邮 编：650106<br />
                                        电 话：0871-6532 4288<br />
                                        传 真：0871-6532 4488</h4>
                                </div>
                            </div>

                            <div>
                                <div id="dtr4" class="ditu_dian">
                                </div>
                                <div class="ditu_nr">
                                    <p>
                                    </p>
                                    <h3>
                                        广东省分公司</h3>
                                    <img src='static/picture/20140121040755_763.jpg'
                                        style="width: 180px; height: 107px;margin-left: 106px;margin-top: 184px;" />
                                    <h4>
                                        地 址：广州市天河区冼村路5号凯华国际中心48-50层<br />
                                        邮 编：510623<br />
                                        电 话：020-8765 9515<br />
                                        传 真：020-8526 0888</h4>
                                </div>
                            </div>

                            <div>
                                <div id="dtr5" class="ditu_dian">
                                </div>
                                <div class="ditu_nr">
                                    <p>
                                    </p>
                                    <h3>
                                        贵州省分公司</h3>
                                    <img src='static/picture/20140121040809_885.jpg'
                                        style="width: 180px; height: 107px;margin-left: 106px;margin-top: 184px;" />
                                    <h4>
                                        地 址：贵阳市枣山路11号港天大厦4层<br />
                                        邮 编：550003<br />
                                        电 话：0851-8651 2227<br />
                                        传 真：0851-8651 2227</h4>
                                </div>
                            </div>

                            <div>
                                <div id="dtr6" class="ditu_dian">
                                </div>
                                <div class="ditu_nr">
                                    <p>
                                    </p>
                                    <h3>
                                        湖南省分公司</h3>
                                    <img src='static/picture/20140121040825_581.jpg'
                                        style="width: 180px; height: 107px;margin-left: 106px;margin-top: 184px;" />
                                    <h4>
                                        地 址：长沙市天心区湘府西路31号鑫远国际大厦B座<br />
                                        邮 编：410000<br />
                                        电 话：0731-8445 0672<br />
                                        传 真：0731-8445 9593</h4>
                                </div>
                            </div>

                            <div>
                                <div id="dtr7" class="ditu_dian">
                                </div>
                                <div class="ditu_nr">
                                    <p>
                                    </p>
                                    <h3>
                                        江西省分公司</h3>
                                    <img src='static/picture/20140121040836_210.jpg'
                                        style="width: 180px; height: 107px;margin-left: 106px;margin-top: 184px;" />
                                    <h4>
                                        地 址：南昌市阳明路106号<br />
                                        邮 编：330006<br />
                                        电 话：0791-8683 6835<br />
                                        传 真：0791-8683 6681</h4>
                                </div>
                            </div>

                            <div>
                                <div id="dtr8" class="ditu_dian">
                                </div>
                                <div class="ditu_nr">
                                    <p>
                                    </p>
                                    <h3>
                                        四川省分公司</h3>
                                    <img src='static/picture/20140121040846_698.jpg'
                                        style="width: 180px; height: 107px;margin-left: 106px;margin-top: 184px;" />
                                    <h4>
                                        地 址：成都市高升桥东路1号长城金融大厦<br />
                                        邮 编：610041<br />
                                        电 话：028-8513 1177<br />
                                        传 真：028-8513 7766</h4>
                                </div>
                            </div>

                            <div>
                                <div id="dtr9" class="ditu_dian">
                                </div>
                                <div class="ditu_nr">
                                    <p>
                                    </p>
                                    <h3>
                                        重庆市分公司</h3>
                                    <img src='static/picture/20140121040857_553.jpg'
                                        style="width: 180px; height: 107px;margin-left: 106px;margin-top: 184px;" />
                                    <h4>
                                        地 址：重庆市渝中区邹容路118号大世界酒店20楼<br />
                                        邮 编：400010<br />
                                        电 话：023-6378 1118<br />
                                        传 真：023-6378 1900</h4>
                                </div>
                            </div>

                            <div>
                                <div id="dtr10" class="ditu_dian">
                                </div>
                                <div class="ditu_nr">
                                    <p>
                                    </p>
                                    <h3>
                                        湖北省分公司</h3>
                                    <img src='static/picture/20140121040911_415.jpg'
                                        style="width: 180px; height: 107px;margin-left: 106px;margin-top: 184px;" />
                                    <h4>
                                        地 址：武汉市武昌区东湖路155号<br />
                                        邮 编：430077<br />
                                        电 话：027-8677 1170<br />
                                        传 真：027-8677 1101</h4>
                                </div>
                            </div>

                            <div>
                                <div id="dtr11" class="ditu_dian">
                                </div>
                                <div class="ditu_nr">
                                    <p>
                                    </p>
                                    <h3>
                                        安徽省分公司</h3>
                                    <img src='static/picture/20140121040920_711.jpg'
                                        style="width: 180px; height: 107px;margin-left: 106px;margin-top: 184px;" />
                                    <h4>
                                        地 址：合肥市寿春路40号<br />
                                        邮 编：230001<br />
                                        电 话：0551-6263 6231<br />
                                        传 真：0551-6263 6606</h4>
                                </div>
                            </div>

                            <div>
                                <div id="dtr12" class="ditu_dian">
                                </div>
                                <div class="ditu_nr">
                                    <p>
                                    </p>
                                    <h3>
                                        江苏省分公司</h3>
                                    <img src='static/picture/20140121040934_523.jpg'
                                        style="width: 180px; height: 107px;margin-left: 106px;margin-top: 184px;" />
                                    <h4>
                                        地 址：南京市秦淮区太平南路450号斯亚·财富中心27-28层<br />
                                        邮 编：210001<br />
                                        电 话：025-8455 1300<br />
                                        传 真：025-8455 1307</h4>
                                </div>
                            </div>

                            <div>
                                <div id="dtr13" class="ditu_dian">
                                </div>
                                <div class="ditu_nr">
                                    <p>
                                    </p>
                                    <h3>
                                        上海市分公司</h3>
                                    <img src='static/picture/20140121040945_459.jpg'
                                        style="width: 180px; height: 107px;margin-left: 106px;margin-top: 184px;" />
                                    <h4>
                                        地 址：上海市陆家嘴环路333号东方汇金中心11层<br />
                                        邮 编：200120<br />
                                        电 话：021-6886 9601<br />
                                        传 真：021-6886 9601</h4>
                                </div>
                            </div>

                            <div>
                                <div id="dtr14" class="ditu_dian">
                                </div>
                                <div class="ditu_nr">
                                    <p>
                                    </p>
                                    <h3>
                                        浙江省分公司</h3>
                                    <img src='static/picture/20140121040954_624.jpg'
                                        style="width: 180px; height: 107px;margin-left: 106px;margin-top: 184px;" />
                                    <h4>
                                        地 址：杭州市邮电路23号9楼<br />
                                        邮 编：310006<br />
                                        电 话：0571-8516 7890<br />
                                        传 真：0571-8516 7878</h4>
                                </div>
                            </div>

                            <div>
                                <div id="dtr15" class="ditu_dian">
                                </div>
                                <div class="ditu_nr">
                                    <p>
                                    </p>
                                    <h3>
                                        河南省分公司</h3>
                                    <img src='static/picture/20140121041009_568.jpg'
                                        style="width: 180px; height: 107px;margin-left: 106px;margin-top: 184px;" />
                                    <h4>
                                        地 址：郑州市金水区红专路82号<br />
                                        邮 编：450008<br />
                                        电 话：0371-6551 0372<br />
                                        传 真：0371-6572 2908</h4>
                                </div>
                            </div>

                            <div>
                                <div id="dtr16" class="ditu_dian">
                                </div>
                                <div class="ditu_nr">
                                    <p>
                                    </p>
                                    <h3>
                                        陕西省分公司</h3>
                                    <img src='static/picture/20140121041024_987.jpg'
                                        style="width: 180px; height: 107px;margin-left: 106px;margin-top: 184px;" />
                                    <h4>
                                        地 址：西安市高新区博文路51A号唐南大厦1-2层<br />
                                        邮 编：710065<br />
                                        电 话：029-6222 0220<br />
                                        传 真：029-6222 0219</h4>
                                </div>
                            </div>

                            <div>
                                <div id="dtr31" class="ditu_dian">
                                </div>
                                <div class="ditu_nr">
                                    <p>
                                    </p>
                                    <h3>
                                        新疆维吾尔自治区分公司</h3>
                                    <img src='static/picture/20140121041038_608.jpg'
                                        style="width: 180px; height: 107px;margin-left: 106px;margin-top: 184px;" />
                                    <h4>
                                        地 址：乌鲁木齐市人民路280号<br />
                                        邮 编：830002<br />
                                        电 话：0991-283 8102<br />
                                        传 真：0991-283 8102</h4>
                                </div>
                            </div>

                            <div>
                                <div id="dtr29" class="ditu_dian">
                                </div>
                                <div class="ditu_nr">
                                    <p>
                                    </p>
                                    <h3>
                                        内蒙古自治区分公司</h3>
                                    <img src='static/picture/20140121041045_538.jpg'
                                        style="width: 180px; height: 107px;margin-left: 106px;margin-top: 184px;" />
                                    <h4>
                                        地 址：呼和浩特市赛罕区如意和大街西蒙奈伦广场8号楼9-12层<br />
                                        邮 编：010010<br />
                                        电 话：0471-690 2234<br />
                                        传 真：0471-690 2310</h4>
                                </div>
                            </div>

                            <div>
                                <div id="dtr27" class="ditu_dian">
                                </div>
                                <div class="ditu_nr">
                                    <p>
                                    </p>
                                    <h3>
                                        甘肃省分公司</h3>
                                    <img src='static/picture/20140121041054_467.jpg'
                                        style="width: 180px; height: 107px;margin-left: 106px;margin-top: 184px;" />
                                    <h4>
                                        地 址：兰州市城关区定西路332号<br />
                                        邮 编：730030<br />
                                        电 话：0931-886 7035<br />
                                        传 真：0931-841 8887</h4>
                                </div>
                            </div>

                            <div>
                                <div id="dtr25" class="ditu_dian">
                                </div>
                                <div class="ditu_nr">
                                    <p>
                                    </p>
                                    <h3>
                                        福建省分公司</h3>
                                    <img src='static/picture/20140121041101_187.jpg'
                                        style="width: 180px; height: 107px;margin-left: 106px;margin-top: 184px;" />
                                    <h4>
                                        地 址：福州市湖东路153号<br />
                                        邮 编：350003<br />
                                        电 话：0591-8762 3705<br />
                                        传 真：0591-8761 2933</h4>
                                </div>
                            </div>

                            <div>
                                <div id="dtr24" class="ditu_dian">
                                </div>
                                <div class="ditu_nr">
                                    <p>
                                    </p>
                                    <h3>
                                        黑龙江省分公司</h3>
                                    <img src='static/picture/20140121041109_727.jpg'
                                        style="width: 180px; height: 107px;margin-left: 106px;margin-top: 184px;" />
                                    <h4>
                                        地 址：哈尔滨市南岗区红军街10号金融大厦<br />
                                        邮 编：150001<br />
                                        电 话：0451-5362 2423<br />
                                        传 真：0451-5362 3914</h4>
                                </div>
                            </div>

                            <div>
                                <div id="dtr23" class="ditu_dian">
                                </div>
                                <div class="ditu_nr">
                                    <p>
                                    </p>
                                    <h3>
                                        吉林省分公司</h3>
                                    <img src='static/picture/20140121041123_990.jpg'
                                        style="width: 180px; height: 107px;margin-left: 106px;margin-top: 184px;" />
                                    <h4>
                                        地 址：长春市二道区自由大路3999号，第一国际中心大厦A座13-15层<br />
                                        邮 编：130000<br />
                                        电 话：0431-8840 2100<br />
                                        传 真：0431-8840 2135</h4>
                                </div>
                            </div>

                            <div>
                                <div id="dtr22" class="ditu_dian">
                                </div>
                                <div class="ditu_nr">
                                    <p>
                                    </p>
                                    <h3>
                                        辽宁省分公司</h3>
                                    <img src='static/picture/20140121041134_541.jpg'
                                        style="width: 180px; height: 107px;margin-left: 106px;margin-top: 184px;" />
                                    <h4>
                                        地 址：沈阳市和平区南三好街81号<br />
                                        邮 编：110004<br />
                                        电 话：024-3188 0208<br />
                                        传 真：024-3188 0234</h4>
                                </div>
                            </div>

                            <div>
                                <div id="dtr17" class="ditu_dian">
                                </div>
                                <div class="ditu_nr">
                                    <p>
                                    </p>
                                    <h3>
                                        山西省分公司</h3>
                                    <img src='static/picture/20140121041148_566.jpg'
                                        style="width: 180px; height: 107px;margin-left: 106px;margin-top: 184px;" />
                                    <h4>
                                        地 址：太原市迎泽西大街72号<br />
                                        邮 编：030024<br />
                                        电 话：0351-681 7860<br />
                                        传 真：0351-619 9958</h4>
                                </div>
                            </div>

                            <div>
                                <div id="dtr32" class="ditu_dian">
                                </div>
                                <div class="ditu_nr">
                                    <p>
                                    </p>
                                    <h3>
                                        大连市分公司</h3>
                                    <img src='static/picture/20140121042452_178.jpg'
                                        style="width: 180px; height: 107px;margin-left: 106px;margin-top: 184px;" />
                                    <h4>
                                        地 址：大连市西岗区花园广场1号<br />
                                        邮 编：116011<br />
                                        电 话：0411-8367 7016<br />
                                        传 真：0411-8367 9009</h4>
                                </div>
                            </div>

                            <div>
                                <div id="dtr33" class="ditu_dian">
                                </div>
                                <div class="ditu_nr">
                                    <p>
                                    </p>
                                    <h3>
                                        深圳市分公司</h3>
                                    <img src='static/picture/20140121041214_712.jpg'
                                        style="width: 180px; height: 107px;margin-left: 106px;margin-top: 184px;" />
                                    <h4>
                                        地 址：深圳市福田区深南大道1006号深圳国际创新中心A座37-38层<br />
                                        邮 编：518026<br />
                                        电 话：0755-8219 5010<br />
                                        传 真：0755-8219 5010</h4>
                                </div>
                            </div>

                            <div>
                                <div id="dtr34" class="ditu_dian">
                                </div>
                                <div class="ditu_nr">
                                    <p>
                                    </p>
                                    <h3>
                                        宁夏业务部</h3>
                                    <img src='static/picture/20160405021307_774.bmp'
                                        style="width: 180px; height: 107px;margin-left: 106px;margin-top: 184px;" />
                                    <h4>
                                        地 址：银川市兴庆区民族南街修业路239号长城资产大厦9-12层<br />
                                        邮 编：750011<br />
                                        电 话：0951-5699 170<br />
                                        传 真：0951-5699 170</h4>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="contact_con">
                        <ul class="company_list">
                            
                            <li class="clearfix">
                                {pboot:list scode='48' num='50'} 
                                <div class="item {pboot:if([list:i]%2==1)}float_l{else}float_r {/pboot:if}  ">
                                    <h3>
                                        [list:title]
                                    </h3>
                                    [list:content]
                                </div>
                                {pboot:if([list:i]%2==0)} 
                            </li>
                            <li class="clearfix">
                                {/pboot:if}
                                {/pboot:list}
                            </li>                                
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="static/js/a7743b171d1448d89cd561197cb4a276.js"></script>
<script type="text/javascript">
    //公司概况高亮
    setNavOn(1);
    //地图
    function ditu_map(ditu) {
        $(ditu).click(function () {
            //getBsc(ditu);
            $(this).siblings("div").show();
        });
    };
    for (var di = 1; di < 35; di++) {
        ditu_map("#dtr" + di);
    };

    $(".ditu_nr").children("p").click(function () {
        $(this).parent("div").hide();
    });


    //        function getBsc(bscID) {
    //            alert(bscID);
    //        }

    //创建和初始化地图函数：
    function initMap() {
        createMap(); //创建地图
        setMapEvent(); //设置地图事件
        addMapControl(); //向地图添加控件
        addMarker(); //向地图中添加marker
    }

    //创建地图函数：
    function createMap() {
        var map = new BMap.Map("dituContent"); //在百度地图容器中创建一个地图
        var point = new BMap.Point(116.360875, 39.924292); //定义一个中心点坐标
        map.centerAndZoom(point, 18); //设定地图的中心点和坐标并将地图显示在地图容器中
        window.map = map; //将map变量存储在全局
    }

    //地图事件设置函数：
    function setMapEvent() {
        map.enableDragging(); //启用地图拖拽事件，默认启用(可不写)
        map.enableScrollWheelZoom(); //启用地图滚轮放大缩小
        map.enableDoubleClickZoom(); //启用鼠标双击放大，默认启用(可不写)
        map.enableKeyboard(); //启用键盘上下左右键移动地图
    }

    //地图控件添加函数：
    function addMapControl() {
        //向地图中添加缩放控件
        var ctrl_nav = new BMap.NavigationControl({
            anchor: BMAP_ANCHOR_TOP_LEFT,
            type: BMAP_NAVIGATION_CONTROL_SMALL
        });
        map.addControl(ctrl_nav);
        //向地图中添加比例尺控件
        var ctrl_sca = new BMap.ScaleControl({
            anchor: BMAP_ANCHOR_BOTTOM_LEFT
        });
        map.addControl(ctrl_sca);
    }

    //标注点数组
    var markerArr = [{
        title: "中国长城资产管理股份有限公司",
        content: "电&nbsp;话:&nbsp;86-010-6805&nbsp;4068<br/>传&nbsp;真:&nbsp;86-010-6808&nbsp;2784<br/>地&nbsp;址:&nbsp;中国•北京市西城区月坛北街2号月坛大厦A座",
        point: "116.360695|39.923911",
        isOpen: 1,
        icon: {
            w: 21,
            h: 21,
            l: 0,
            t: 0,
            x: 6,
            lb: 5
        }
    }];
    //创建marker
    function addMarker() {
        for (var i = 0; i < markerArr.length; i++) {
            var json = markerArr[i];
            var p0 = json.point.split("|")[0];
            var p1 = json.point.split("|")[1];
            var point = new BMap.Point(p0, p1);
            var iconImg = createIcon(json.icon);
            var marker = new BMap.Marker(point, {
                icon: iconImg
            });
            var iw = createInfoWindow(i);
            var label = new BMap.Label(json.title, {
                "offset": new BMap.Size(json.icon.lb - json.icon.x + 10, -20)
            });
            marker.setLabel(label);
            map.addOverlay(marker);
            label.setStyle({
                borderColor: "#808080",
                color: "#333",
                cursor: "pointer"
            });

            (function () {
                var index = i;
                var _iw = createInfoWindow(i);
                var _marker = marker;
                _marker.addEventListener("click", function () {
                    this.openInfoWindow(_iw);
                });
                _iw.addEventListener("open", function () {
                    _marker.getLabel().hide();
                })
                _iw.addEventListener("close", function () {
                    _marker.getLabel().show();
                })
                label.addEventListener("click", function () {
                    _marker.openInfoWindow(_iw);
                })
                if (!!json.isOpen) {
                    label.hide();
                    _marker.openInfoWindow(_iw);
                }
            })()
        }
    }
    //创建InfoWindow
    function createInfoWindow(i) {
        var json = markerArr[i];
        var iw = new BMap.InfoWindow("<b class='iw_poi_title' title='" + json.title + "'>" + json.title +
            "</b><div class='iw_poi_content'>" + json.content + "</div>");
        return iw;
    }
    //创建一个Icon
    function createIcon(json) {
        var icon = new BMap.Icon("img/us_mk_icon.png", new BMap.Size(json.w, json.h), {
            imageOffset: new BMap.Size(-json.l, -json.t),
            infoWindowOffset: new BMap.Size(json.lb + 5, 1),
            offset: new BMap.Size(json.x, json.h)
        })
        return icon;
    }

    initMap(); //创建和初始化地图
</script>
<script type="text/javascript" src="static/js/about.js"></script>
{include file=foot.html}