<div class="web_info">
    <!--<div class="head_b"></div>-->
    <div class="item">
        <div class="icon_tel"><img src="static/picture/foot_icon06.png" alt="" /></div>
        <div class="msg">{pboot:companymobile} / {pboot:companyphone}</div>
    </div>
    <!--    <div class="item"><div class="icon_email"><img src="static/picture/foot_icon07.png" alt="" /></div><div class="msg"></div></div>-->
    <div class="item">
        <div class="icon_addr"><img src="static/picture/foot_icon08.png" alt="" /></div>
        <div class="msg">{pboot:companyaddress}</div>
    </div>
</div>
<div class="footer">
    <a href="{pboot:sitepath}/" title="返回首页"
        style="background-image:url(static/images/1cf3778d924f97466e1f6831c065a555.png); background-size:0.34rem 0.34rem;">
        <span>返回首页</span>
    </a><a href="tel:{pboot:companyphone}" title="一键咨询"
        style="background-image:url(static/images/68d411b8783e49ff6d9153946f145886.png); background-size:0.34rem 0.34rem;">
        <span>一键咨询</span>
    </a>
    <a href="/?pages_5/" title="在线咨询"
        style="background-image:url(static/images/12cd12102d48899fdf25adc26d5011fb.png); background-size:0.34rem 0.34rem;">
        <span>在线咨询</span>
    </a> <a href="/?pages_5/" title="我要留言"
        style="background-image:url(static/images/b495323c83559b192e14bcfd41582ae9.png); background-size:0.34rem 0.34rem;">
        <span>我要留言</span>
    </a></div>
</div>
</body>

</html>